.logo {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  text-align: center;
  @media screen and (min-width: 960px) {
    width: 50%;
    right: 0;
    left: unset;
  }
}

.image {
  display: none;
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  @media screen and (min-width: 960px) {
    display: block;
  }
}

.container {
  background-color: var(--secondary-bg);
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 1rem;
  border-radius: 0.625rem;
  display: flex;
  min-height: 30rem;
  max-height: 40rem;
  max-width: 36rem;
  transition: all 0.1s linear;

  @media screen and (min-width: 960px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 43rem;
    max-width: 60rem;
  }

  button {
    cursor: pointer;
  }
}

.formContainer {
  flex: 1;
  min-height: 100%;
  padding: 0 2rem;
  @media screen and (min-width: 960px) {
    height: 100%;
    width: 50%;
  }
}
